<div id="warning-message"></div>
<div id="AvisoCarga" class="alert alert-danger">
<p><strong>¡Espera!</strong> Se está cargando la información de las pistas.<small>Si no desaparece este mensaje en unos segundos, recarga la página </small></p>
<img src="images/Bocetos7.png"style="opacity:0.8"></div>
<main>
<div id="mesaCompleta">
  
  <div id="tutorial-container">
    <div id="tutorial">
      <iframe width="711" height="400" src="https://www.youtube.com/embed/16IpkM7ueWU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>Cerrar tutorial</p>
  </div>
  <div id="credits"><a href="https://www.michelacosta.com">Diseño de Míchel Acosta</a></div>
  <div id="tutorial-button">
    <div>?</div>
  </div>  
  <section id="left">
    <div class="tempo-container"><div class="tempo"></div></div>
    <div class="load"></div>
    <div class="sync"></div>
    <div class="play"></div>
    <div class="less"></div>
    <div class="more"></div>
    <div class="jog paused" id="touchsurface1">
      <div class="wave"></div>
    </div>
    <div class="volume-container"><div class="volume"></div></div>
    <div class="info">
      <div class="song"></div>
      <div class="info-time"></div>
      <div class="info-tempo"><span>TEMPO: </span><strong>±0.00<span> %</span></strong></div>
      <input type="range" min="0" max="0" value="0" step="1">
    </div>
  </section>
  <section id="right">
    <div class="tempo-container"><div class="tempo"></div></div>
    <div class="load"></div>
    <div class="sync"></div>
    <div class="play"></div>
    <div class="less"></div>
    <div class="more"></div>
    <div class="jog paused" id="touchsurface2"></div>
    <div class="volume-container"><div class="volume"></div></div>
    <div class="info">
      <div class="song"></div>
      <div class="info-time"></div>
      <div class="info-tempo"><span>TEMPO: </span><strong>±0.00<span> %</span></strong></div>
      <input type="range" min="0" max="0" value="0" step="1">
    </div>
  </section>
  <section id="crossfade-container">
    <section id="crossfade"></section>
  </section>
</main>
<div id="songloader-container">
  <section id="songloader">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Duration</th>
          <th>BPM</th>
        </tr>
      </thead>
      <tbody>
        <tr onclick="setSong(1)">
          <td>Pista 1</td>
          <td id="nombre1">Añade más temas en la Sala...<%=quiz.pregunta%></td>
          <td id="dura1">:</td>
          <td>-</td>
        </tr>
        <tr onclick="setSong(2)">
          <td>Pista 2</td>
          <td id="nombre2"> Añade más temas en la Sala...<%=quiz.pregunta%> </td>
          <td id="dura2">:</td>
          <td>-</td>
        </tr>
        <tr onclick="setSong(3)">
          <td>Pista 3</td>
          <td id="nombre3"> Añade más temas en la Sala...<%=quiz.pregunta%> </td>
          <td id="dura3">:</td>
          <td>-</td>
        </tr>
        <tr onclick="setSong(4)">
          <td>Pista 4</td>
          <td id="nombre4"> Añade más temas en la Sala...<%=quiz.pregunta%> </td>
          <td id="dura4">:</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<p id="log"></p>
<br>
</div>
</main>
<div style='display:none'>
<%var npistas=0;for(index in quiz.Comments){ var comentario='';var autoria='';%>
	
	<%if(quiz.Comments[index].publicado ||session.user){%>
		<%if(quiz.Comments[index].texto.indexOf('(')!=-1){comentario=quiz.Comments[index].texto.substr(0,quiz.Comments[index].texto.indexOf('(')); autoria=quiz.Comments[index].texto.substr(quiz.Comments[index].texto.indexOf('('),quiz.Comments[index].texto.length);}
		else{ comentario=quiz.Comments[index].texto;autoria='';} %>
         <div> <%if(comentario.substr(0,6)=='audio4'){var $enlace=comentario.substring(7)%> <audio loop preload="metadata"><source src="<%=$enlace%>" type="audio/mp4" >Your browser does not support the audio tag.</audio><p id="tema<%=npistas%>"><small><%=autoria%></small></p>
</div>
            <% npistas=npistas+1;}else if(comentario.substr(0,6)=='audio3'){var $enlace=comentario.substring(7)%> <audio loop preload="metadata"><source src="<%=$enlace%>" type="audio/mpeg" >Your browser does not support the audio tag.</audio><p id="tema<%=npistas%>"><small><%=autoria%></small> </p>
</div>
	<% npistas=npistas+1;}%>
<%}%>
<%}%>
</div>

<script>

/*
var pistas= new Array();
@@-var npistas=0;
for(index in quiz.Comments){
  var comentario='';
  var autoria='';
  var $enlace='';
  if(quiz.Comments[index].publicado ||session.user){
	   if(quiz.Comments[index].texto.indexOf('(')!=-1){
	     comentario=quiz.Comments[index].texto.substr(0,quiz.Comments[index].texto.indexOf('('));
	     autoria=quiz.Comments[index].texto.substr(quiz.Comments[index].texto.indexOf('('),quiz.Comments[index].texto.length);
	     if(comentario.substr(0,6)=='audio4'){
			$enlace=comentario.substring(7); //type="audio/mp4"
			-@@pistas[@@-=npistas-@@][0]= @@- =enlace -@@;
			  pistas[@@-=npistas-@@][1]= @@- =autoria-@@;
			  pistas[@@- =npistas-@@][2]='mp4';
			@@- npistas=npistas+1;
	     }else if(comentario.substr(0,6)=='audio3'){
			$enlace=comentario.substring(7); //type="audio/mpeg"
			pistas[@@- =npistas-@@][0]= @@- =enlace-@@;
			  pistas[@@- =npistas-@@][1]=@@-=autoria-@@;
			  pistas[@@- =npistas -@@][2]='mp3';
			@@- npistas=npistas+1;
		 }
	   }	   
    }	
 }-@@
*/
var audios=document.getElementsByTagName("audio");

var tempoRange = 20;
var jogSpeed = 5;
var timeFactor = 0.1;

var song1 = new Audio("/SonidoMonedaM.m4a");
var song2 = new Audio("/SonidoMonedaM.m4a");
var song3 = new Audio("/SonidoMonedaM.m4a");
var song4 = new Audio("/SonidoMonedaM.m4a");
var minutos=0;
var segundos=0;

if (audios.length>0){
  song1= audios[0];
  if(audios.length>1) song2 = audios[1];
  if(audios.length>2) song3 = audios[2];
  if(audios.length>3) song4 = audios[3];
  }

song1.addEventListener("loadedmetadata", function () {
 minutos=0;
 segundos=0;
 if(song1.duration>60){
  minutos=Math.floor(song1.duration/60);
  segundos=(song1.duration-minutos*60).toFixed(0);
 }
 else{
  segundos=(song1.duration).toFixed(0);
 }
 if(segundos<10){$("#dura1").html(minutos+":0"+segundos);}
 else{$("#dura1").html(minutos+":"+segundos);}
 $("#nombre1").html($("#tema0").html());
 }, false);
song2.addEventListener("loadedmetadata", function () {
 minutos=0;
 segundos=0;
 if(song2.duration>60){
  minutos=Math.floor(song2.duration/60);
  segundos=(song2.duration-minutos*60).toFixed(0);
 }
 else{
  segundos=song2.duration.toFixed(0);
 }
  if(segundos<10){$("#dura2").html(minutos+":0"+segundos);}
 else{$("#dura2").html(minutos+":"+segundos);}
 $("#nombre2").html($("#tema1").html());
 }, false);

song3.addEventListener("loadedmetadata", function () {
 minutos=0;
 segundos=0;
 if(song3.duration>60){
  minutos=Math.floor(song3.duration/60);
  segundos=(song3.duration-minutos*60).toFixed(0);
 }
 else{
  segundos=song3.duration.toFixed(0);
 }
  if(segundos<10){$("#dura3").html(minutos+":0"+segundos);}
 else{$("#dura3").html(minutos+":"+segundos);}
 $("#nombre3").html($("#tema2").html());
 }, false);
song4.addEventListener("loadedmetadata", function () {
 minutos=0;
 segundos=0;
 if(song4.duration>60){
  minutos=Math.floor(song4.duration/60);
  segundos=(song4.duration-minutos*60).toFixed(0);
 }
 else{
  segundos=song4.duration.toFixed(0);
 }
  if(segundos<10){$("#dura4").html(minutos+":0"+segundos);}
 else{$("#dura4").html(minutos+":"+segundos);}
 $("#nombre4").html($("#tema3").html());
 $("#AvisoCarga").hide();
 }, false);

song1.addEventListener("canplaythrough", function () {
 $("#AvisoCarga").hide();
 document.getElementById("mesaCompleta").focus();
},false);

var leftSong = null;
var rightSong = null;
var channel2load = '';

var modVolumeLeft = 0;
var modVolumeRight = 0;
var diff=0.5;
var rateLeft = 1;
var rateRight = 1;
var currentVolLeft=1;
var currentVolRight=1;

$('#left .play').click(function() {
  if (leftSong != null) {
    diff = (((($('#left .volume').offset().top-482)*-1)*0.5)/54);
    currentVolLeft = (0.5+diff) - (modVolumeLeft*(0.5+diff)/100);
    leftSong.volume = currentVolLeft.toFixed(2);  
    leftSong.playbackRate = rateLeft;
    if ($('#left .jog').hasClass('paused')) {
      $('#left .jog').removeClass('paused');
      $('#left .jog').addClass('running');
      marqueeLeft();
      leftSong.play();
    } else {
      $('#left .jog').removeClass('running');
      $('#left .jog').addClass('paused');
      marqueeLeftStop();
      leftSong.pause();
    }
  }
  else {
    requestSong();
  }
});

$('#right .play').click(function() {
  if (rightSong != null) {
    diff = (((($('#right .volume').offset().top-482)*-1)*0.5)/54);
    currentVolRight = (0.5+diff) - (modVolumeRight*(0.5+diff)/100);   
    rightSong.volume =currentVolRight.toFixed(2);
    rightSong.playbackRate = rateRight;
    if ($('#right .jog').hasClass('paused')) {
      $('#right .jog').removeClass('paused');
      $('#right .jog').addClass('running');
      marqueeRight();
      rightSong.play();
    } else {
      $('#right .jog').removeClass('running');
      $('#right .jog').addClass('paused');
      marqueeRightStop();
      rightSong.pause();
    }
  }
  else {
    requestSong();
  }
});

$('#left .load').click(function() {
  if ($('#left .jog').hasClass('paused')) {
  	toggleLoader('left');
  }
  else {
    askToPause();
    alert('Pausa antes de cargar ');
  }
  $('body, html').animate({
			scrollTop: '0px'
		}, 300);
});

$('#right .load').click(function() {
  if ($('#right .jog').hasClass('paused')) {
		toggleLoader('right');
  }
  else {
    askToPause();
    alert('Pausa antes de cargar ');
  }
$('body, html').animate({
			scrollTop: '0px'
		}, 300);
});

$("#left .tempo").dblclick(function() {
  $('#left .tempo').animate({'top': 91}, 500, 'easeOutQuad');
  $('#left .info-tempo > strong').html('±0.00<span> %</span>');
  rateLeft = 1;    
});

$("#right .tempo").dblclick(function() {
  $('#right .tempo').animate({'top': 91}, 500, 'easeOutQuad');
  $('#right .info-tempo > strong').html('±0.00<span> %</span>');
  rateRight = 1;
});

$("#left .tempo").draggable({
  drag: dragLeftTempo,
  axis: "y",
  containment: [35, 187, 35, 294]
});

$("#right .tempo").draggable({
  drag: dragRightTempo,
  axis: "y",
  containment: [818, 187, 818, 294]
});

$("#left .volume").draggable({
  drag: dragLeftVolume,
  axis: "y",
  containment: [389, 428, 389, 536]
});

$("#right .volume").draggable({
  drag: dragRightVolume,
  axis: "y",
  containment: [465, 428, 465, 536]
});

$("#crossfade").draggable({
  drag: crossFade,
  axis: "x",
  containment: 'parent'
});


$('#left .less').click(function() {
  if (leftSong != null) {    
  	leftSong.currentTime-=timeFactor;
  }
  else {
    requestSong();
  }
});

$('#left .more').click(function() {
  if (leftSong != null) {    
  	leftSong.currentTime+=timeFactor;
  }
  else {
    requestSong();
  }
});

$('#right .less').click(function() {
  if (rightSong != null) {    
  	rightSong.currentTime-=timeFactor;
  }
  else {
    requestSong();
  }
});

$('#right .more').click(function() {
  if (rightSong != null) {    
  	rightSong.currentTime+=timeFactor;
  }
  else {
    requestSong();
  }
});

$('#left input').change(function() {
  if (leftSong != null) {
  	leftSong.currentTime = $(this).val();
  }
});

$('#right input').change(function() {
  if (rightSong != null) {
  	rightSong.currentTime = $(this).val();
  }    
});

$('.sync').click(function() {
  dislike();
});

$('#tutorial-button>div').click(function() {
  $('#tutorial-container').show();
});

$('#tutorial-container>p').click(function() {
  $('#tutorial-container').hide();
});


//FUNCIONES
function setSong(id) {
  $('#'+channel2load+' .info-time').html('00:00');
  $('#'+channel2load+' input').attr('max', 0);
  $('#'+channel2load+' input').val(0);
  switch(id) {
    case 1:      
      loader = song1;
      $('#'+channel2load+' .song').html($('#nombre1').html());
      toggleLoader(channel2load);
      break;
    case 2:
      loader = song2;
      $('#'+channel2load+' .song').html($('#nombre2').html());
      toggleLoader(channel2load);
      break;
    case 3:
      loader = song3;
      $('#'+channel2load+' .song').html($('#nombre3').html());
      toggleLoader(channel2load);
      break;
    case 4:
      loader = song4;
      $('#'+channel2load+' .song').html($('#nombre4').html());
      toggleLoader(channel2load);
      break;
  }  
  if (channel2load == 'left') {
		leftSong = loader;
    leftSong.ontimeupdate = null;
    leftSong.ontimeupdate = function() {updateLeftTime()};
  }
  else {
    rightSong = loader;
    rightSong.ontimeupdate = null;
    rightSong.ontimeupdate = function() {updateRightTime()};
  }
}

function updateLeftTime() {
  	leftSong.playbackRate = rateLeft;
    $('#left .info-time').html(getTime(leftSong.currentTime));
  	$('#left input').attr('max', leftSong.duration.toFixed(0));
  	$('#left input').val(leftSong.currentTime.toFixed(0));
}

function updateRightTime() {
  	rightSong.playbackRate = rateRight;
    $('#right .info-time').html(getTime(rightSong.currentTime));
  	$('#right input').attr('max', rightSong.duration.toFixed(0));
  	$('#right input').val(rightSong.currentTime.toFixed(0));
}

function requestSong() {
  title = '¡No has cargado una canción!';
  options = {
    body: 'Carga una canción en este canal pulsando el botón "LOAD"',
    icon: 'https://www.michelacosta.com/yo.png',
  }
  Notification.requestPermission(function(status) {
    new Notification(title, options);
  });
}

function askToPause() {
  title = '¡Tienes que parar la reproducción!';
  options = {
    body: 'Para la reproducción antes de cargar otro tema',
    icon: 'https://www.michelacosta.com/yo.png',
  }
  Notification.requestPermission(function(status) {
    new Notification(title, options);
  });
}

function dislike() {
  title = '¡Desprecio infinito!';
  options = {
    body: 'No nos gustan los DJs que usan el SYNC',
    icon: 'https://www.michelacosta.com/yo.png',
  }
  Notification.requestPermission(function(status) {
    new Notification(title, options);
  });
}

function toggleLoader(deck) {
  channel2load = deck;
  if ($('#songloader').position().top == 150) {
  	$('#songloader').animate({'top': 20}, 600, 'easeOutQuad');   
    $('#'+deck+' .info').css('background-color','#000033');
  }
  else {
    $('#songloader').animate({'top': 150}, 600, 'easeOutQuad');
    $('#'+deck+' .info').css('background-color','#000');
  }  
}

function getTime(seconds) {
  var hr  = Math.floor(seconds / 3600);
  var min = Math.floor((seconds - (hr * 3600))/60);
  var sec = Math.floor(seconds - (hr * 3600) - (min * 60));
  if (min < 10){ min = "0" + min; }
  if (sec < 10){ sec  = "0" + sec; }
  return min + ':' + sec;
}
function marqueeLeft() {
  $('#left .song').css('left', '100%');
  $('#left .song').animate({ 'left': (0 - $('#left .song').width()) }, 5000, 'linear', marqueeLeft);
}

function marqueeRight() {
    $('#right .song').css('left', '100%');
    $('#right .song').animate({ 'left': (0 - $('#right .song').width()) }, 5000, 'linear', marqueeRight);
}

function marqueeRightStop() {
  $('#right .song').stop();
	$('#right .song').animate({'left': '0'});
}

function marqueeLeftStop() {
  $('#left .song').stop();
  $('#left .song').animate({'left': '0'});
}

function dragLeftTempo() {
  dragTempo('#left');
}

function dragRightTempo() {
  dragTempo('#right');
}

function dragLeftVolume() {
  if (leftSong != null) {  
    dragVolume('#left');
  }
}

function dragRightVolume() {
  if (rightSong != null) {      
    dragVolume('#right');
  }
}

function dragTempo(side) {
    val = (($(side+' .tempo').offset().top - 240.5) * tempoRange / 53.5).toFixed(2);
  	$(side+' .jog').css('animation-duration', jogSpeed-((jogSpeed*(val)/100))+'s');
    if (val > 0) {
      val = '+' + val;
    }
    $(side+' .info-tempo > strong').html(val+'<span> %</span>');
  switch(side) {
    case '#left':
      rateLeft = (1+(val/100)).toFixed(2);
      break;
    case '#right':
      rateRight = (1+(val/100)).toFixed(2);
      break;
  }  
}

function dragVolume(side) {
  diff = ((($(side+' .volume').offset().top-482)*-1)*0.5)/54;
  	switch(side) {
      case '#left':
	    	leftSong.volume = ((0.5+diff) - (modVolumeLeft*(0.5+diff)/100)).toFixed(2);
        break;
      case '#right':
        rightSong.volume = ((0.5+diff) - (modVolumeRight*(0.5+diff)/100)).toFixed(2);
        break;       
    }
}

function crossFade() {
  currentVolLeft = (0.5+((($('#left .volume').offset().top-482)*-1)*0.5)/54).toFixed(2);
  currentVolRight = (0.5+((($('#right .volume').offset().top-482)*-1)*0.5)/54).toFixed(2);  
  if ($('#crossfade').position().left-57 < 0) {
    modVolumeLeft = 0;
    modVolumeRight = (($('#crossfade').position().left-57)*100/-57).toFixed(2);
  }
  else if ($('#crossfade').position().left-57 > 0) {
    modVolumeRight = 0;
    modVolumeLeft = (($('#crossfade').position().left-57)*100/57).toFixed(2);
  }
  else {
    modVolumeLeft = 0;
    modVolumeRight = 0;
  }
  if (leftSong != null) {
    leftSong.volume = currentVolLeft - (modVolumeLeft*currentVolLeft/100).toFixed(2);
  }
  if (rightSong != null) {
  	rightSong.volume = currentVolRight - (modVolumeRight*currentVolRight/100).toFixed(2);
  }
}
//FUNCIONES PARA SWIPE M
window.addEventListener('load', function(){
 var touchsurface1 = document.getElementById('touchsurface1'),
			detecttouch = !!('ontouchstart' in window) || !!('ontouchstart' in document.documentElement) || !!window.ontouchstart || !!window.Touch || !!window.onmsgesturechange || (window.DocumentTouch && window.document instanceof window.DocumentTouch),
			startX,
			startY,
			dist,
			threshold = 150,
			allowedTime = 200,
			elapsedTime,
			startTime,
			ismousedown = false

	function handleswipe(isrightswipe){
		if (isrightswipe){
		 if (leftSong != null) {    
  				leftSong.currentTime+=timeFactor;
	  		}
  			else {
    				requestSong();
  			}
		}	
		else{
			 if (leftSong != null) {    
  				leftSong.currentTime-=timeFactor;
  			 }
  			 else {
    				requestSong();
  			 }
			
		}
	}

	touchsurface1.addEventListener('touchstart', function(e){
		//touchsurface.innerHTML = ''
		var touchobj = e.changedTouches[0]
		dist = 0
		startX = touchobj.pageX
		startY = touchobj.pageY
		startTime = new Date().getTime() // record time when finger first makes contact with surface
		e.preventDefault()
	
	}, false)

	touchsurface1.addEventListener('touchmove', function(e){
		e.preventDefault() // prevent scrolling when inside DIV
	}, false)

	touchsurface1.addEventListener('touchend', function(e){
		var touchobj = e.changedTouches[0]
		dist = touchobj.pageX - startX // get total dist traveled by finger while in contact with surface
		elapsedTime = new Date().getTime() - startTime // get time elapsed
		// check that elapsed time is within specified, horizontal dist traveled >= threshold, and vertical dist traveled <= 100
		var swiperightBol = (elapsedTime <= allowedTime && dist >= threshold && Math.abs(touchobj.pageY - startY) <= 100)
		handleswipe(swiperightBol)
		e.preventDefault()
	}, false)
	
	if (!detecttouch){
		document.body.addEventListener('mousedown', function(e){
			if ( isContained(touchsurface1, e) ){
				//touchsurface.innerHTML = ''
				var touchobj = e
				dist = 0
				startX = touchobj.pageX
				startY = touchobj.pageY
				startTime = new Date().getTime() // record time when finger first makes contact with surface
				ismousedown = true
				e.preventDefault()
			}
		}, false)
		}


	var touchsurface2 = document.getElementById('touchsurface2'),
			detecttouch = !!('ontouchstart' in window) || !!('ontouchstart' in document.documentElement) || !!window.ontouchstart || !!window.Touch || !!window.onmsgesturechange || (window.DocumentTouch && window.document instanceof window.DocumentTouch),
			startX,
			startY,
			dist,
			threshold = 150,
			allowedTime = 200,
			elapsedTime,
			startTime,
			ismousedown = false

	function handleswipeR(isrightswipe){
		if (isrightswipe){
		 if (rightSong != null) {    
  				rightSong.currentTime+=timeFactor;
	  		}
  			else {
    				requestSong();
  			}
		}	
		else{
			 if (rightSong != null) {    
  				rightSong.currentTime-=timeFactor;
  			 }
  			 else {
    				requestSong();
  			 }
			
		}
	}

	touchsurface2.addEventListener('touchstart', function(e){
		//touchsurface.innerHTML = ''
		var touchobj = e.changedTouches[0]
		dist = 0
		startX = touchobj.pageX
		startY = touchobj.pageY
		startTime = new Date().getTime() // record time when finger first makes contact with surface
		e.preventDefault()
	
	}, false)

	touchsurface2.addEventListener('touchmove', function(e){
		e.preventDefault() // prevent scrolling when inside DIV
	}, false)

	touchsurface2.addEventListener('touchend', function(e){
		var touchobj = e.changedTouches[0]
		dist = touchobj.pageX - startX // get total dist traveled by finger while in contact with surface
		elapsedTime = new Date().getTime() - startTime // get time elapsed
		// check that elapsed time is within specified, horizontal dist traveled >= threshold, and vertical dist traveled <= 100
		var swiperightBol = (elapsedTime <= allowedTime && dist >= threshold && Math.abs(touchobj.pageY - startY) <= 100)
		handleswipeR(swiperightBol)
		e.preventDefault()
	}, false)
	
	if (!detecttouch){
		document.body.addEventListener('mousedown', function(e){
			if ( isContained(touchsurface2, e) ){
				//touchsurface.innerHTML = ''
				var touchobj = e
				dist = 0
				startX = touchobj.pageX
				startY = touchobj.pageY
				startTime = new Date().getTime() // record time when finger first makes contact with surface
				ismousedown = true
				e.preventDefault()
			}
		}, false)
		}
}, false)
/*MICRO ADELANTOS Y RETRASOS solo con jquery mobile que detecta eventos SWIPE
$("#left .jog").on("swipeleft",function(){
   if (leftSong != null) {    
  	leftSong.currentTime-=timeFactor;
  }
  else {
    requestSong();
  }
});
$("#left .jog").on("swiperight",function(){
  if (leftSong != null) {    
  	leftSong.currentTime+=timeFactor;
  }
  else {
    requestSong();
  }
}) ;
$("#right .jog").on("swipeleft",function(){
   if (rightSong != null) {    
  	rightSong.currentTime-=timeFactor;
  }
  else {
    requestSong();
  }
});
$("#right .jog").on("swiperight",function(){
  if (rightSong != null) {    
  	rightSong.currentTime+=timeFactor;
  }
  else {
    requestSong();
  }
}); */
 </script>
